// Jump over to CRuby for the actual settings.
// Relative include path means relative to the location of this file.
#include? "CRuby/CRuby.xcconfig"

// proof of concept...

// Ruby 3 -fdeclspec
OTHER_CFLAGS = $(inherited) -fdeclspec
OTHER_SWIFT_FLAGS = $(inherited) -Xcc -fdeclspec

HEADER_SEARCH_PATHS = $(inherited) /Users/johnf/.rbenv/versions/3.3.0/include/ruby-3.3.0/x86_64-darwin23 /Users/johnf/.rbenv/versions/3.3.0/include/ruby-3.3.0

LIBRARY_SEARCH_PATHS = $(inherited) "/Users/johnf/.rbenv/versions/3.3.0/lib"
